<div class="ui segment">
  <h3>Mailbox</h3>

  <div class="ui list">
    <div class="item">
      <% @conversations.each do |conversation| %>
        <% if conversation.worker_id == current_user.id || conversation.manager_id == current_user.id %>
          <% if conversation.worker_id == current_user.id %>
            <% manager = User.find(conversation.manager_id) %>
          <% else %>
            <% manager = User.find(conversation.worker_id) %>
          <% end %>
          <%= link_to manager.first_name, user_conversation_messages_path(current_user, conversation)%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="ui segment">
  <h3>All Users</h3>
  <div class="ui list">
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
      <div class="item">
        <%= user.first_name %> <%= link_to 'Message me!', user_conversations_path(user.id), method: 'post'%>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
