<div class="container">
  <ul class="nav nav-tabs">
    <li class="tab active" id="tab-inbox"><a href="#">Inbox</a></li>
  </ul>
  <% if @conversations.empty? %>
    <div class="no-conversations bg-info d-flex align-items-center justify-content-center py-4 rounded">
      <h1>No messages yet!</h1>
    </div>
  <% else %>
    <div class="tab-content">
      <div class="tab-pane active" id="inbox">
        <%= render 'inbox' %>
      </div>
    </div>
  <% end %>
</div>
