<div class="container">
  <h1><i class="fas fa-envelope ml-2 text-primary"></i> Inbox</h1>
  <% if @conversations.empty? %>
    <div class="no-conversations bg-info d-flex align-items-center justify-content-center py-4 rounded">
      <h1>No messages yet!</h1>
    </div>
  <% else %>
    <div class="tab-content">
      <div class="tab-pane active" id="inbox">
        <%= render 'inbox' %>
      </div>
    </div>
  <% end %>
</div>
