<h3>Add a qualification</h3>
<%= simple_form_for [current_user, @new_qualification] do |f| %>
  <%= f.association :qualification %>
  <%= f.submit %>
<% end %>

<% @qualifications.each do |qualification| %>
  <div class="qualification-card d-flex justify-content-between">
    <div class="qualification-left">
      <h4><%= qualification.qualification.name %></h4>
    </div>
  </div>
  <hr>
<% end %>
