<div class="container">
  <ul class="nav nav-tabs">
    <li class="tab active" id="tab-placements"><a href="#">Work</a></li>
    <li class="tab" id="tab-applications"><a href="#">Applications</a></li>
    <li class="tab" id="tab-qualifications"><a href="#">Qualifications</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="placements">
      Placements
      <%#= render 'bookings' %>
    </div>
    <div class="tab-pane" id="applications">
      Applications
      <%#= render 'properties' %>
    </div>
    <div class="tab-pane" id="qualifications">
      Qualifications
      <%#= render 'reviews' %>
    </div>
  </div>
</div>
