<!-- <div class="container">
  <h1>My Profile</h1>
  <div class="new-profile-form">
    <%#= simple_form_for @user do |f| %>
      <%#= f.label "Profile Photo" %>
      <%#= f.file_field :avatar %><br>
    <%# end %>

  </div>
  <div class="user-avatar">

  </div>

</div>
 -->
<div class="container">
  <h1>My Profile</h1>

</div>



