<div class="container">
  <div class="team-member-cards">

    <div class="team-card">
      <img src="https://avatars0.githubusercontent.com/u/62059010?v=4" alt="">
      <div class="team-card-info">
        <h2>Gus Threlfall</h2>
        <p>Gus is an all round top bloke! Previously worked as a labourer so he knows the ins and outs of the industry. Sucks at front-end coding, worse at back-end. </p>

      </div>
    </div>

    <div class="team-card">
      <img src="https://res.cloudinary.com/cjw21889/image/upload/v1591355356/44188D72-68F8-4954-96AE-42D68CBD5407_mvnjsb.jpg" alt="">
      <div class="team-card-info">
        <h2>Chris Westerman</h2>
        <p>Chris is our bretherin from across the pond! All round beast and bit of a dark horse. Son of a carpenter, this project hit near and dear to his heart.</p>

      </div>

    </div>

    <div class="team-card">
      <img src="https://avatars3.githubusercontent.com/u/52492986?v=4" alt="">
      <div class="team-card-info">
        <h2>Dan Howitt</h2>
        <p>Dan came up with the original idea for Bild. He hates inefficiencies and has overly ambitious visions for the company. Hates front-end development but not that great at back-end either.</p>
      </div>

    </div>

    <div class="team-card">
      <img src="https://avatars3.githubusercontent.com/u/15037326?v=4" alt="">
      <div class="team-card-info">
        <h2>Faris Alamin</h2>
        <p>Faris is a top programmer here at Bild! Spends most of his day correcting Gus & Dan's code (but not Chris's) and his evenings on his Nintendo.</p>

      </div>
    </div>

  </div>
</div>

