<div class="container">
  <div class="team-member-cards">

    <div class="team-card">
      <img src="https://avatars0.githubusercontent.com/u/62059010?v=4" alt="">
      <div class="team-card-info">
        <h2>Gus</h2>
        <p>Gus is an all round top bloke! Loves getting on the lash with boys and generally being a sick geezer. Sucks at front-end coding, worse at back-end. Last seen harrassing a group of women in his local pub.</p>

      </div>
    </div>

    <div class="team-card">
      <img src="https://avatars3.githubusercontent.com/u/61322893?v=4" alt="">
      <div class="team-card-info">
        <h2>Chris</h2>
        <p>Chris is our bretherin from across the pond! Loves back-end coding and drawing cocks on your screen during important team meetings.</p>

      </div>

    </div>

    <div class="team-card">
      <img src="https://avatars3.githubusercontent.com/u/52492986?v=4" alt="">
      <div class="team-card-info">
        <h2>Dan</h2>
        <p>Dan is an absolute sesh head! Smashes gear most weekends and loves a few mid day beers. Hates front-end development.</p>

      </div>

    </div>

    <div class="team-card">
      <img src="https://avatars3.githubusercontent.com/u/15037326?v=4" alt="">
      <div class="team-card-info">
        <h2>Faris</h2>
        <p>Faris is a top programmer here at bild! Spends most of his day correcting Gus's code and his evenings on PornHub or his Nintendo.</p>

      </div>
    </div>

  </div>
</div>

