.mapboxgl-canvas {
  width: 100%;
  height: 100%;
}


.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background: $info;
}



.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: $info;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: $info;
}
