.completed-placement-site {
  background-color: rgba(0,0,0,0.3);
}

.completed-placement-card-right hr {
  margin: 4px;
}

.card-body,
.map-button,
.message-button,
.placement-card {
  border-radius: 8px;
}

.application-card h4 {
  width: 130px;
  text-align: center;
  border-radius: 3px;
  font-weight: 700;
  font-size: 20px;
}

.image-square {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-button,
.message-button-link {
  width: 6%;
}

.message-button i {
  font-size: 24px;
}

.message-button span {
  margin-top: 6px;
}

.map-button i {
  font-size: 32px;
}
