.edit-details a {
  color: black;
}

.fa-user-circle {
  color: #fac733;
}

.profile-info-list li {
  list-style-type: none;
  position: relative;
  right: 40px;
}

.edit-avatar {
  font-size: 24px;
  color: #636363;
  position: relative;
  top: 5px;
  right: 30px;
}

.user-avatar {
  display: flex;
}

.empty-avatar {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2))
}
