.qualification-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.qualification-card {
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}

.qualification-card .icons i {
  font-size: 18px;
  line-height: 27px;
}

.qualification-badge {
  // background-color: rgba(255,255,255,0.9);
  height: 20vh;
}

.qualification-card-header {
  background-color: $gray;
}

.qualification-img {
  width: 100%;
}
