.project-show-card {
}

.project-show-card-info-1 {
  height: 200px;
  margin: 0px 120px 0px 40px
}

.project-show-card-info-1 img {
  height: 20px;
  width: 20px;
}

.project-show-card-dates {
  text-align: right;
}

.project-show-card-info-2 {
  margin: 30px 0px 30px 0px
}

.project-show-card-dates .apply-button {
  margin: 10px 0px 10px 0px;
}
